@media  screen and (max-width:405px) {
    .navbar
{
    height: 63px;
}   
.navbar .text a
{
    margin-top: 2px; 
    
}.navbar .navbar-brand
{
    color: #9155A7;
    font-size: 21px;
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    /*position: absolute;
    top: 19%;*/
}.collapse li
{
    background-color: #f6fcfc;
}
    .body-1 .slider .box{
        height: 50px;
    }.body-1 .slider .box .item{
        margin-left: 1%;
        padding-top: 15px;
        display:inline-flex;
    }.body-1 .slider .box .item h2{
        color: white;
        font-size: 10px;
        font-weight: 100;
        
        
    }.body-1 .slider .box .item #app-btn{
        margin-bottom: 10px;
        /*padding: 0px 25px;*/
        
        cursor: pointer;
    }.body-2
    {
        margin-top: 30px;
    }
    .body-2 .head h3{
        color:#0DB26B;
        font-size: 24px;
        font-weight: 300;
    }.body-2 .grid{
        display: flex;
        flex-direction: column;
       }
       .body-2 .news-box .text{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }.body-2 .news-box .text .email{
        width: 360px;

    }.body-2 .news-box .text .btn{
    width: 360px;
    margin: 1px;
    background-color:blueviolet;
    color: white;
    border-radius: 2px;
    border:none;
    margin-bottom: 30px;
}
.foot
{
    height: 100px;
}
.foot .para p {
    font-size: 12px;
}.foot .social img{
    height: 30px;
    padding: 5px 2px;
}
.app-box .part-1 .heading .close{
    width: 45px;
    height: 55px;
    margin-top: 15px;
    margin-left: 100px;
}.app-box .part-1 #box
{
    display: flex;
    flex-direction: column;
}.body-1 .app-box.show
{
    border-radius: 2px;
    width: 80%;
    height: 700px;
    overflow:scroll;
}
}