@media  screen and (max-width:405px) {
.navbar
{
    height: 63px;
}   
.navbar .text a
{
    margin-top: 2px; 
    
}.navbar .navbar-brand
{
    color: #9155A7;
    font-size: 21px;
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    /*position: absolute;
    top: 19%;*/
}.collapse li
{
    background-color: #f6fcfc;
}
.part-1 .heading{
    background-color: #6DCCA3;
    height: 70px;
}.part-1 .heading h2
{
    font-size: 22px;
}
.part-1 .body-1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}.body-2
{
    margin-top: 60px;
}.body-2 h4{
    color: #0DB26B;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 25px;
}.body-2 .box{
    display: flex;
    flex-direction: column;
    margin-left: 35px;

}.body-2 .box img{
    height: 155px;
    width: 242px;
}.container .body-2 .box-1,.box-2,.box-3
{
   max-width: 270px;
}
.body-3
{
    background-color: rgb(233, 244, 248);
    margin-top: 35px;
    margin-bottom: 20px;
    height: 550px;
    
}
.body-3 .box{
    display: flex;
    flex-direction: column;
}
.body-3 .rec
{
    width: 200px;
    height: 117px;

    margin-top: 10px;
    margin-left: 70px;
}.foot
{
    height: 100px;
}
.foot .para p {
    font-size: 12px;
}.foot .social img{
    height: 30px;
    padding: 5px 2px;
}
}